/* Fonts */

html {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  width: 100%;
  display: inline-block;
}

/* Styles */

body {
  background-color: #fff7f4;
  display: grid;
  place-items: center;
  margin: 2rem;
}

.solutions__title-container {
  margin-block-end: 2rem;
}

.solutions__name {
  font-size: 1.25rem;
  font-weight: normal;
}

.solutions__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}

.list__item {
  padding: 1.25rem;
  border: 1px dotted rgba(0, 0, 0, 0.6);
  transition: all 1s ease-in-out;
}

.list__item:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.list__item:hover .item__title-container .item__title {
  text-decoration-style: solid;
}

.item__details-container {
  display: flex;
  flex-direction: column;
  padding-block-start: 1rem;
}

.item__title-container {
  display: flex;
  justify-content: space-between;
  margin-block-end: 0.25rem;
}

.item__title-container .item__title {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  font-size: 1rem;
  font-weight: normal;
}

.arrow {
  font-size: 1rem;
}

.item__details-container .item__tech {
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .header-spacer {
    height: 2rem;
  }

  .solutions {
    margin-inline: 4rem;
  }

  .solutions__title {
    display: flex;
  }

  .solutions__list {
    grid-template-columns: repeat(2, 1fr);
    margin-block-start: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .solutions__title-container {
    gap: .6rem;
    display: flex;
    align-items: baseline;
  }

  .solutions__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .solutions__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
