*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary-pale-blue: hsl(225, 100%, 94%);
  --clr-primary-bright-blue: hsl(245, 75%, 52%);
  --clr-primary-hover-blue: hsl(245, 83%, 68%);

  --clr-neutral-very-pale-blue: hsl(225, 100%, 98%);
  --clr-neutral-desaturated-blue: hsl(224, 23%, 55%);
  --clr-neutral-dark-blue: hsl(223, 47%, 23%);

  --font-family: 'Red Hat Display', sans-serif;
  --fw-normal: 500;
  --fw-bold: 700;
  --fw-extra-bold: 900;
  --fs-normal: 16px;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: var(--font-family);
  font-size: var(--fs-normal);
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: contain;
  background-color: var(--clr-primary-pale-blue);
}

img {
  width: 100%;
  display: block;
}

.card {
  background-color: white;
  width: 327px;
  display: grid;
  justify-items: center;
  border-radius: 1rem;
}

.header-image {
  border-radius: 1rem 1rem 0 0;
}

.order-summary-container {
  display: grid;
  padding: 32px 24px;
}

.info {
  text-align: center;
}

.heading {
  font-size: 22px;
  color: var(--clr-neutral-dark-blue);
  font-weight: var(--fw-extra-bold);
  margin-bottom: 16px;
}

.copy {
  color: var(--clr-neutral-desaturated-blue);
  margin-bottom: 24px;
}

.plan-details {
  padding: 16px;
  background-color: var(--clr-neutral-very-pale-blue);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 24px;
  border-radius: 11px;
}

.plan-icon {
  width: 48px;
  height: 48px;
}

.plan-name {
  color: var(--clr-neutral-dark-blue);
  font-size: 14px;
}

.plan-duration-price {
  color: var(--clr-neutral-desaturated-blue);
  font-size: 14px;
}

.change-plan {
  font-weight: var(--fw-bold);
  color: var(--clr-primary-bright-blue);
  margin-left: auto;
  font-size: 13px;
}

.btn {
  all: unset;
  text-align: center;
  font-weight: var(--fw-bold);
  padding: 1rem 2rem;
  border-radius: 11px;
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: var(--clr-primary-bright-blue);
  margin-bottom: 24px;
}

.btn-secondary {
  color: var(--clr-neutral-desaturated-blue);
  padding: 0;
}

.btn-primary:hover {
  background-color: var(--clr-primary-hover-blue);
}

.change-plan:hover {
  color: var(--clr-primary-hover-blue);
}

.btn-secondary:hover {
  color: var(--clr-neutral-dark-blue);
}

@media (min-width: 600px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
  }
  .card {
    max-width: 450px;
    border-radius: 20px;
  }

  .header-image {
    border-radius: 20px 20px 0 0;
  }

  .order-summary-container {
    max-width: 354px;
  }

  .heading {
    margin-bottom: 17px;
  }

  .copy {
    margin-bottom: 20px;
  }

  .plan-details {
    margin-bottom: 32px;
  }

  .btn-primary {
    margin-bottom: 32px;
  }
}
