:root {
  --blue: hsl(223, 87%, 63%);
  --blue-hover: hsl(223, 87%, 63%, 80.4%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);

  --fs-normal: 20px;
  --ff-libre-franklin: 'Libre Franklin', sans-serif;
  --fw-light: 300;
  --fw-semibold: 600;
  --fw-bold: 700;
}

html {
  font-size: var(--fs-normal);
}

body {
  font-size: var(--fs-normal);
  font-family: var(--ff-libre-franklin);
  font-weight: var(--fw-light);
  color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: auto 2.4rem;
}

header img {
  width: 2.8rem;
  margin-block: 4.05rem 1.6rem;
}

.ping-coming-soon {
  display: grid;
  place-items: center;
  text-align: center;
}

.ping-coming-soon .heading {
  font-size: 1.1rem;
  margin-block-end: 0.75rem;
  font-weight: var(--fw-light);
  color: var(--gray);
}

.ping-coming-soon .heading span {
  color: var(--very-dark-blue);
  font-weight: var(--fw-bold);
}

.ping-coming-soon .copy {
  font-size: 0.6rem;
  margin-block-end: 1.6rem;
}

.ping-coming-soon form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15.1rem;
}

.ping-coming-soon form input {
  width: 100%;
  padding: 0.5rem 1.6rem;
  margin-block-end: 0.5rem;
  border: 1px solid var(--pale-blue);
  border-radius: 1.4rem;
  font-size: 0.6rem;
  font-weight: var(--fw-light);
  color: var(--pale-blue);
  position: relative;
}

.ping-coming-soon form button {
  all: unset;
  padding: 0.5rem 1.6rem;
  background-color: var(--blue);
  border-radius: 1.4rem;
  color: white;
  font-size: 0.6rem;
  padding: 0.6rem 1.2rem;
  margin-block-end: 3.6rem;
  cursor: pointer;
}

.ping-coming-soon form button:hover {
  background-color: var(--blue-hover);
}

.ping-coming-soon form .error_log {
  display: none;
  font-size: 0.5rem;
  color: var(--light-red);
  margin-block-end: 1rem;
  font-style: italic;
}

.ping-coming-soon img {
  margin-block-end: 6rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.social-icons a {
  display: grid;
  place-items: center;
  width: 1.6rem;
  padding: 0.275rem;
  border-radius: 100%;
  border: 1px solid hsl(223, 87%, 63%, 15%);
}

.social-icons a:hover {
  background-color: var(--blue);
}

.social-icons a:hover svg path {
  fill: white;
}

.social-icons a svg path {
  fill: var(--blue);
}

footer {
  font-weight: var(--fw-light);
  font-size: 0.5rem;
  color: var(--gray);
  margin-block: 1.35rem 1.85rem;
}

@media screen and (min-width: 600px) {
  header img {
    width: 4.5rem;
    margin-block: 4rem 2rem;
  }

  .ping-coming-soon .heading {
    font-size: 2.4rem;
    margin-block-end: 0.8rem;
  }

  .ping-coming-soon .copy {
    font-size: 1rem;
    margin-block-end: 2rem;
  }

  .ping-coming-soon form {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 637px;
    align-items: start;
  }

  .error_log {
    text-align: left;
    padding-inline-start: 30px;
  }

  .ping-coming-soon form input {
    width: 421px;
    padding: 18px 30px;
  }

  .ping-coming-soon form button {
    padding: 18px 62px;
    margin-block-end: 3.6rem;
    font-weight: var(--fw-semibold);
  }

  .ping-coming-soon img {
    max-width: 32rem;
    margin-block-end: 3.6rem;
  }

  footer {
    font-size: 0.6rem;
    margin-block-end: 2.45rem;
  }
}