*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);

  --clr-brown-800: hsl(14, 45%, 36%);

  --clr-rose-800: hsl(332, 51%, 32%);
  --clr-rose-50: hsl(330, 100%, 98%);
}

body {
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Outfit', serif;
  color: var(--clr-stone-600);
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: 'Young Serif', serif;
  font-weight: 400;
}

hr {
  opacity: 10%;
}

li::marker {
  color: var(--clr-rose-800);
}

ol {
  font-family: 'Outfit', serif;
}

li p {
  margin-left: 1rem;
}

h2 {
  color: var(--clr-brown-800);
}

.recipe {
  max-width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.preparation {
  background-color: var(--clr-rose-50);
  padding: 0.25rem;
  border-radius: 1rem;
}

.preparation_title {
  color: var(--clr-rose-800);
  font-weight: 600;
  font-size: 18px;
  margin-left: 1.5rem;
}

.nutritional {
  margin-left: 2rem;
  width: 40%;
}

.value {
  width: 50%;
  margin-left: 2rem;
  color: var(--clr-brown-800);
  font-weight: 600;
}

.nutrition {
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  img {
    border-radius: 1rem;
  }

  .recipe-page {
    background-color: var(--clr-stone-100);
    padding: 2rem;
  }

  .container {
    margin: 0 auto;
    background-color: white;
    border-radius: 1rem;
    max-width: 800px;
    padding: 1rem;
  }
}
