*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary-soft-blue: hsl(215, 51%, 70%);
  --clr-primary-cyan: hsl(178, 100%, 50%);

  --clr-neutral-main-bg-dark-blue: hsl(217, 54%, 11%);
  --clr-neutral-card-bg-dark-blue: hsl(216, 50%, 16%);
  --clr-neutral-line-bg-dark-blue: hsl(215, 32%, 27%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --font-family: 'Outfit', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;

  --fs-heading: 1.375rem;
  --fs-body: 1.125rem;
  --fs-caption: 1rem;

  --card-shadow: 0rem 0rem 3rem 0.5rem hsl(220, 54%, 8%);
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--clr-primary-soft-blue);

  background-color: var(--clr-neutral-main-bg-dark-blue);

  display: grid;
  justify-content: center;
  align-content: center;

  height: 100vh;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.card {
  background-color: var(--clr-neutral-card-bg-dark-blue);

  display: grid;
  /* align-items: start; */

  padding: 1.5rem;
  border-radius: 0.9375rem;

  max-width: 20.4375rem;

  box-shadow: var(--card-shadow);
}

.card__image-link {
  display: flex;
  position: relative;

  margin-bottom: 1rem;
}

.card__image {
  border-radius: 0.5rem;
}

.card__image-link::before {
  content: '';
  background-color: var(--clr-primary-cyan);
  position: absolute;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: 300ms ease-in-out;
  border-radius: 0.5rem;
}

.card__image-link::after {
  content: '';
  background: url(./images/icon-view.svg) no-repeat center;
  position: absolute;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: 300ms ease-in-out;
  border-radius: 0.5rem;
}

.card__image-link:hover::before {
  opacity: 20%;
}

.card__image-link:hover::after {
  opacity: 1;
}

.card__heading {
  font-size: var(--fs-heading);
  color: var(--clr-neutral-white);

  margin-block: 0.75rem;
}

.card__body {
  font-size: var(--fs-body);
  font-weight: var(--fw-light);
  line-height: 1.5;

  margin-bottom: 1rem;
}

.amount-countdown-wrapper {
  justify-content: space-between;
}

.amount {
  color: var(--clr-primary-cyan);
}

hr {
  margin-block: 1rem;
}

.card__avatar-wrapper {
  gap: 1rem;
}

.avatar {
  width: 33px;
  border: 1px solid var(--clr-neutral-white);

  border-radius: 100vh;
}

.avatar-name {
  color: var(--clr-neutral-white);
}

.link .card__heading:hover,
.avatar-name:hover {
  color: var(--clr-primary-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
